@model ShoppingCartViewModel

@if(Model?.ShoppingCarts?.ShoppingCartItems?.Count > 0)
{
    <li>
        <a>
            <span class="glyphicon glyphicon-shopping-cart"/>
             <span class="cart-status">
                 @Model.ShoppingCarts.ShoppingCartItems.Count
             </span>
        </a>
    </li>    
}

